footer {
	li {
		height: 2em;
		padding-left: 2em;
		display: none;
	}
	
	li:hover {
		color: #4F67B0;
	}

	li:first-child {
		padding-top: 1.5em;
		text-align: center;
		padding-left: 0;
		display: block;
	}

	.copyright {
		text-align: center;
		width: 100%;
	}

	.logo-text {
		margin-top: 1em;
	}

	svg {
		width: 64px;
		height: 64px;
		// WTF:
		position: relative;
		right: -150px;
		top: -17px;

		polygon {
			fill: #A8B5DD;
			stroke: #505F8E;
			stroke-width: 4px;
		}
	}

	.logo_name {
		clear: both;
		position: relative;
		left: -35px
	}
}