- content_for :page_title do
  Modtalk Search
%header
  %h1 Search
.units-row#results_pane
  = render partial: 'result_template_ruby', collection: @results, as: :item 
= render partial: 'result_template'