footer {
  background-color: $modtalk_logo_blue;
  color: #748bcf;
  font-size: 1em;
  text-align: center;

  a, a:visited, a:active {
    color: $footer_list_text_color;
  }

  a:hover {
    color: $hyperlink_actionlink_color;
  }

  .container {
    overflow: hidden;
  }

  li {
    padding-top: 1.5em;
    text-align: center;
    padding-left: 0;
    display: block;
  }

  ul {
    li:first-child, li:first-child a {
      color: white;
      font-size: large;
      margin-bottom: 0.5em;
    }
  }

  svg {
    width: 64px;
    height: 64px;
    // WTF:
    position: relative;
    right: -150px;
    top: -17px;

    polygon {
      fill: #A8B5DD;
      stroke: #505F8E;
      stroke-width: 4px;
    }
  }

  .copyright {
    clear: both;
    float: left;
    text-align: center;
    width: 100%;
  }

  .logo-text {
    margin-top: 1em;
  }

  .logo_name {
    font-size: xx-large;
    color: #A8B5DD;
    clear: both;
    position: relative;
    left: -35px
   }
}
