header {
  //background-image: linear-gradient(to right, #B7E26B 0%, #C7E496 100%);
  padding: 2em;
  background-color: #E5E5E5;
}

.branding {
	svg {
		height: 50px;
	}

	.name {
		font-size: 50px;
	}

	.summary {
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
	}

	.tag {
		font-size: 30px;
	}
}

.code-snippet {
	ul li ul li {
		margin-left: 10pt;
	}
}

.lighthouse {
  .img-lighthouse {
		background-image: image-url('lighthouse-16x9-1600.jpg');
		background-size: cover;
		background-position: 50% 50%; // Temp remove later
	}
	.img-lighthouse {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	h3 {
		z-index: 10;
	}
}

.callout {
	width: 100%;
	height: 300px;
	position: relative;

	.lighthouse, .content {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.content {
		z-index: 10;
	}

	h3 {
		padding-left: 50px;
		padding-right: 50px;
	}
}