@font-face {
    font-family: 'modtalk';
    src:font-url('modtalk_font.eot');
    src:font-url('modtalk_font.eot') format('embedded-opentype'),
        font-url('modtalk_font.ttf') format('truetype'),
        font-url('modtalk_font.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}