- content_for :head do
  = render partial: 'layouts/opengraph', locals: { title: t('brand.upper'), url: downloads_url }
.units-row
  .unit-100
    %h3 Download failed
    %p We don't know about this version
    = link_to download_root_path