.container
  .row
    .col-md-6
      %h2 Beautifully simple code
      .code-snippet
        %ul
          %li printOn: aStream
          %li &nbsp;
          %li
            %ul
              %li
                %span.aStream aStream nextPutAll: 'kurtIsCrazy'.