- content_for :head do
  = render partial: 'layouts/opengraph', locals: { title: t('modtalk_name'), url: root_url }
.units-row
  .unit-100
    %h3 Modtalk brings modules to Smalltalk
    %p Modtalk implements a modular version of the Smalltalk-80 programming language
.units-row
  .unit-100
    %h3 Features
    %h4
.units-row
  .unit-100
    %h3 Download
    %p Currently, Modtalk is not available for download. Please check back soon because we're really excited about releasing
.units-row
  .unit-100
    %h3 Contribute to Modtalk
    %p Have a really good idea for Modtalk?
.units-row
  .unit-100
    %h3 Roadmap
    %ul
      %li Modtalk inside of Modtalk
