- content_for :head do
  = render partial: 'layouts/opengraph', locals: { title: t('brand.upper'), url: root_url }
- content_for :image_attribute do
  Lighthouse photo &copy; 2011 Gwendolyn L. Day

= render partial: 'header'
.callout.lighthouse
  .img-lighthouse
.container
  = render partial: 'blog_post', collection: @rss.items.first(3), as: :post
  .blog-post
    %h2= link_to 'Read more on our blog', blog_path, class: 'action-link'