%br
.title Newsletter subscription confirmation
%br
.body-text You have successfully signed up to receive email updates for Modtalk. We are sending this email to confirm that you do wish to receive emails about Modtalk.