$modtalk_logo_blue: #354B8D;
$modtalk_logo_teal: #48B69D;
$modtalk_logo_yellow: #F4E935;
$modtalk_logo_green: #95C440;

$nutshell_bg_color: #BFD9E6;

$footer_list_text_color: #748BCF;
$hyperlink_actionlink_color: #E07C44;

$action_button_border_color: #719431;