:javascript
  var _paq = _paq || [];
  _paq.push(["setCookieDomain", "*.modtalk.org"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function(d) {
    var u="https://www.modtalk.org/";
    _paq.push(['setTrackerUrl', u+'monitor']);
    _paq.push(['setSiteId', 5]);
    var g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'monitor.js'; s.parentNode.insertBefore(g,s);
  })(document);
