%nav.navbar.navbar-default
  .container
    .navbar-header
      = link_to root_path, class: 'navbar-brand' do
        .logo-text &#xe600;&nbsp;#{t 'brand.lower'}
      = link_to "\003", search_path, class: 'search-button visible-xs-block glyphicon glyphicon-search navbar-brand'
