%svg.search-icon{:viewbox => "0 0 28 29", :xmlns => "http://www.w3.org/2000/svg", related_textbox: 'main-search-box'}
  %ellipse{:cx => "12", :cy => "12", :rx => "8", :ry => "8", :style => "fill: none; stroke-width: 1px"}
  %path{:d => "m 18,18 10,11", :style => "stroke-width:2px;"}