#search-pane
  = text_field_tag 'search', '', class: 'form-control search-box', placeholder: 'Search', tabindex: 1, data: {results_pane: 'search-results'}
  %svg.indicator{xmlns: 'http://www.w3.org/2000/svg', viewBox: '0 0 32 32'}
    %path{d: 'M0 12 V20 H4 V12z', transform: 'translate(2)'}
      %animate{attributename: 'd', begin: 0, calcmode: 'spline', dur: '1.2s', keysplines: '0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8', keytimes: '0;.2;.5;1', repeatcount: 'indefinite', values: 'M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z'}
    %path{d: 'M0 12 V20 H4 V12z', transform: 'translate(8)'}
      %animate{attributename: 'd', begin: 0.2, calcmode: 'spline', dur: '1.2s', keysplines: '0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8', keytimes: '0;.2;.5;1', repeatcount: 'indefinite', values: 'M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z'}
    %path{d: 'M0 12 V20 H4 V12z', transform: 'translate(14)'}
      %animate{attributename: 'd', begin: 0.4, calcmode: 'spline', dur: '1.2s', keysplines: '0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8', keytimes: '0;.2;.5;1', repeatcount: 'indefinite', values: 'M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z'}
    %path{d: 'M0 12 V20 H4 V12z', transform: 'translate(20)'}
      %animate{attributename: 'd', begin: 0.6, calcmode: 'spline', dur: '1.2s', keysplines: '0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8', keytimes: '0;.2;.5;1', repeatcount: 'indefinite', values: 'M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z'}
    %path{d: 'M0 12 V20 H4 V12z', transform: 'translate(26)'}
      %animate{attributename: 'd', begin: 0.8, calcmode: 'spline', dur: '1.2s', keysplines: '0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8', keytimes: '0;.2;.5;1', repeatcount: 'indefinite', values: 'M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z'}
  #search-results

= render partial: 'search/result_template'